{% extends 'base.html' %}
{% load static  %}
{% block title %} CGI - Se connecter {% endblock %}
{% block body %}
<div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
      <!-- START Background Pic-->
      <img src="{% static 'images_cgi/cgiAccueil_cj.jpg' %}" data-src="{% static 'images_cgi/cgiAccueil_cj.jpg' %}" data-src-retina="{% static 'images_cgi/cgiAccueil_cj.jpg' %}" alt="" class="lazy">
      <!-- END Background Pic-->
      <!-- START Background Caption-->
      <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
        <h2 class="semi-bold text-white">Connectez-vous ou <a href="{% url 'signup' %}"><span style="background-color: #e91188;">créer un compte</span></a> pour bénéficier de nos offres.</h2>
        <img src="{% static 'images_cgi/lecfp.png' %}" alt="logo" data-src="{% static 'images_cgi/lecfp.png' %}" data-src-retina="{% static 'images_cgi/lecfp.png' %}" width="200" height="100" style="float: right;">
      </div>
      <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
      <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        
        <p class="p-t-35">Connnectez vous a votre compte</p>
        <!-- START Login Form -->
        <p>
          {% for message in messages %}
						<div class="alert alert-danger">
							<a class="close" href="#" data-dismiss="alert">×</a>
							{{ message }}
						</div>
          {% endfor %}
        </p>
        <form id="" class="p-t-15" role="form" action="{% url 'signin' %}" method="POST">
          {% csrf_token %}
          <!-- START Form Control-->
          <div class="form-group form-group-default">
            <label>Email</label>
            <div class="controls">
              <input type="text" name="username" placeholder="Votre Email" class="form-control" required>
            </div>
          </div>
          <!-- END Form Control-->
          <!-- START Form Control-->
          <div class="form-group form-group-default">
            <label>Mot de passe</label>
            <div class="controls">
              <input type="password" class="form-control" name="password" placeholder="Votre Mot de passe" required>
            </div>
          </div>
          <!-- START Form Control-->
          <div class="row">
            <div class="col-md-6 no-padding sm-p-l-10">
              <div class="checkbox ">
                <input type="checkbox" value="1" id="checkbox1">
                <label for="checkbox1">Se souvenir de moi</label>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-end">
              <a href="{% url 'signup' %}" class="text-info small">Vous n'avez pas de compte? Créer un compte</a>
            </div>
          </div>
          <!-- END Form Control-->
          <button style="background-color: #e91188;" class="btn btn-primary btn-cons m-t-10" type="submit">Se Connecter</button>
        </form>
        <!--END Login Form-->
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-3 col-md-2 no-padding">
              <img alt="" class="m-t-5" data-src="{% static 'images_cgi/LOGOCGI_r.png' %}" style="height: 220px; width: 220px;" data-src-retina="{% static 'images_cgi/LOGOCGI_r.png' %}" height="60" src="{% static 'images_cgi/LOGOCGI_r.png' %}" width="60">
            </div>
            <div class="col-sm-9 no-padding m-t-10">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Login Right Container-->
  </div>
{% endblock %}