{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}
{% block title %} CGI - Création de compte {% endblock %}
{% block body %}
<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height">
      <img src="{% static 'images_cgi/LOGOCGI_r.png' %}" style="height: 70px;" alt="logo" data-src="{% static 'images_cgi/LOGOCGI_r.png' %}" data-src-retina="{% static 'images_cgi/LOGOCGI_r.png' %}" width="78" height="50">
      <h3>Formulaire de création de compte</h3>
      <p>
        {% for message in messages %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endfor %}
      </p>
      <!-- <p>
        Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
      </p> -->
      <form id="form-register" class="p-t-15" role="form" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-group-default">
              <label>Nom</label>
              {% render_field form.first_name class="form-control" placeholder="Votre nom" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-default">
              <label>Prenom</label>
              {% render_field form.last_name class="form-control" placeholder="Votre prenom " %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-group-default">
              <label>Email</label>
              {% render_field form.email class="form-control" placeholder="Votre email" %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-group-default">
              <label>Mot de passe</label>
              {% render_field form.password1 class="form-control" placeholder="8 caractères au minimum" %}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>Confirmer votre mot de passe</label>
                {% render_field form.password2 class="form-control" placeholder="Confirmer votre mot de passe" %}
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-group-default">
              <label>Numéro de téléphone</label>
              {% render_field form.phone class="form-control" placeholder="Numéro de téléphone" %}
            </div>
          </div>
        </div>
        <div class="row m-t-10">
          <!-- <div class="col-lg-6">
            <p><small>I agree to the <a href="#" class="text-info">Pages Terms</a> and <a href="#" class="text-info">Privacy</a>.</small></p>
          </div> -->
          <div class="col-lg-6 text-right">
          </div>
        </div>
        <button class="btn btn-primary btn-cons m-t-10" style="background-color: #e91188;" type="submit">Créer un nouveau compte</button>
      </form>
    </div>
  </div>
{% endblock %}