.section-title {
	text-align: center;
	margin-bottom: 60px;
	
	@include media-query(991px) {
		margin-bottom: 40px;
	}

	h2 {
		font-size: 36px;
		font-size: calc-rem-value(36);
		font-weight: 200;
		margin: 0 0 1em;
		padding-bottom: 10px;
		position: relative;

		&:after {
			content: "";
			background-color: $theme-primary-color;
			width: 30px;
			height: 3px;
			position: absolute;
			bottom: 0;
			left: 50%;
			@include translatingX();
		}

		@include media-query(991px) {
			font-size: 32px;
			font-size: calc-rem-value(32);
		}

		@include media-query(767px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
			line-height: 1.2em;
			padding-bottom: 15px;
		}

	}
}

.product-landing-section-title {
	@extend .section-title;

	.sub-title {
		font-family: $heading-font;
		font-size: 20px;
		font-size: calc-rem-value(20);
		color: $heading-color;
		font-weight: 200;
		text-transform: uppercase;
		margin-bottom: 0.8em;
		display: block;

		@include media-query(991px) {
			font-size: 17px;
			font-size: calc-rem-value(17);
		}
	}

	h2 {
		line-height: 1.2em;
	}

	h2:after {
		display: none;
	}
}