{% extends 'base.html' %}
{% load static  %}
{% block body %}
<div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
      <!-- START Background Pic-->
      <img src="{% static 'images_cgi/paiement.png' %}" data-src="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src-retina="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
      <!-- END Background Pic-->
      <!-- START Background Caption-->
      <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
        <!-- <h2 class="semi-bold text-white">
                  Pages make it easy to enjoy what matters the most in the life</h2>
        <p class="small">
          images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
        </p> -->
      </div>
      <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
      <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <h5>Sélectionner le moyen de paiement de votre choix</h5>
        <!-- START Login Form -->
        
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Pay with PayPal</td>
                    <td>
                        {{ form.render }}
                    </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <form autocomplete="off">
                      {% if braintree_error %}
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">&times;</button>
                            {{ braintree_error|safe }}
                        </div>
                      {% endif %}
                      <div class="braintree-notifications"></div>
                      <div id="braintree-dropin"></div>
                      <input style="background-color: #0783ca" id="submit-button" class="btn btn-success btn-lg btn-block" type="button" value="Pay now!" />
                    </form>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td style="text-align: center;">
                    <a href="{% url 'home' %}" class="btn btn-primary btn-cons m-t-10" style="background-color: #e91188;">Payer plustard</a>
                  </td>
                </tr>
            </tbody>
        </table>
        
        <!--END Login Form-->
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-3 col-md-2 no-padding">
              <img alt="" class="m-t-5" data-src="{% static 'images_cgi/LOGOCGI_r.png' %}" data-src-retina="{% static 'images_cgi/LOGOCGI_r.png' %}" height="60" src="{% static 'images_cgi/LOGOCGI_r.png' %}" width="60">
            </div>
            <div class="col-sm-9 no-padding m-t-10">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Login Right Container-->
  </div>
{% endblock %}
{% block personal_js %}
<script src="https://js.braintreegateway.com/web/dropin/1.18.0/js/dropin.min.js"></script>
<script>
  <script>
    var braintree_client_token = "{{ braintree_client_token }}";
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: braintree_client_token,
      container: '#braintree-dropin',
      card: {
        cardholderName: {
            required: false
        }
      }
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (err, payload) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "payment" %}',
                    data: {'paymentMethodNonce': payload.nonce,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'}
                }).done(function (result) {
                   //do accordingly
                });
            });
        });
    });
</script>
</script>
{% endblock %}