{% extends 'gabarit.html' %}
{% load static %}
{% block personal_css %}
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
    .navy{
        font-family: "Montserrat", sans-serif;
        font-size: 11px;
        font-size: 0.6875rem;
        color: #848484;
        text-transform: uppercase;
    }
</style>
{% endblock %}
{% block header %}
<header class="site-header header-style-1">
    <nav class="navigation navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images_cgi/LOGOCGI.png' %}" alt width="99" height="75"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                <button class="close-navbar"><i class="fa fa-close"></i></button>
                
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}" class="accueil">Accueil</a></li>
                </ul>
            </div><!-- end of nav-collapse -->

            <div class="lang-social navbar-right">
                {% if user.is_authenticated %}
                <div class="lang">
                    <a href="#"><img src="{% static 'images/default-user.png' %}" width="24px" height="24px" alt></a>
                    <ul>
                        <li><a href="#"> Profile</a></li>
                        <li><a href="{% url 'souscriptions' %}">Mes Souscription</a></li>
                        <li><a href="{% url 'signout' %}"> Signout</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="social-links-wrapper">
                    <ul class="social-links">
                        <li><a href="{% url 'signin' %}">Se connecter</a></li>
                        <li><a href="{% url 'signup' %}">S'inscrire</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div><!-- end of container -->
    </nav>
</header>
{% endblock %}
{% block content %}
<section class="app-landing-pricing section-padding" id="pricing">
    <div class="container">
        <div class="row section-title">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 ">
                <h2>Mes Souscriptions</h2>
            </div>
        </div> <!-- end section-title -->
        <div class="row content">
            <div class="col col-xs-12">    
                <table id="souscript" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Package souscrit</th>
                            <th>Montant</th>
                            <th>Utilisateur</th>
                            <th>Durée</th>
                            <th>Date de la souscription</th>
                            <th>Payer</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for package in packages %}
                        <tr>
                            <td>{{ package.package.name }}</td>
                            <td>{{ package.package.cost }}</td>
                            <td>{{ package.package.user_nber }}</td>
                            <td>{{ package.package.year_duration }}&nbsp;Année(s)</td>
                            <td>{{ package.date_souscription|date:'Y-m-d H:i' }}</td>
                            <td style="text-align: center;">
                                {% if package.is_paid %}
                                <span>Oui</span>
                                {% else %}
                                <span>Non</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center;">
                                {% if package.is_paid %}
                                Aucune
                                {% else %}
                                <a href="{% url 'achat' package.package.id %}" class="ge-started"><i class="fa fa-credit-card"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container --> 
</section>
<!-- start app-landing-pricing -->
{% endblock content %}
{% block personal_js %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    function preloader() {
        if($('.preloader').length) {
            $('.preloader').delay(100).fadeOut(500, function() {

                if ($(".hero-s1").length) {
                    $(".hero-s1 .hero-phone").addClass("hero-phone-animation");
                }
                if ($(".hero-watch").length) {
                    $(".hero-watch").addClass("hero-watch-animation");
                }

            });
        }
    };
    preloader();

    $('#souscript').dataTable();

   /* $('#souscript').on('click', 'a.ge-started', function(e){
        e.preventDefault();
        var dataId = $(this).attr("href");
        $.ajax({
            url : dataId,
            method: 'GET',
            success: function(result){
                console.log('resultat')
            },
            error: function(error){
                console.log('error')
            }
        });
    }); */
</script>
{% endblock %}