{% extends 'gabarit.html' %}
{% load static %}
{% block personal_css %}
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>Mes souscriptions</h1>
<table id="souscript" class="table table-bordered">
    <thead>
        <tr>
            <th>Package souscrit</th>
            <th>Montant</th>
            <th>Nombre d'utilisateur</th>
            <th>Durée</th>
            <th>Date de la souscription</th>
            <th>Actif</th>
        </tr>
    </thead>
    <tbody>
        {% for package in packages %}
        <tr>
            <td>{{ package.package.name }}</td>
            <td>{{ package.package.cost }}</td>
            <td>{{ package.package.user_nber }}</td>
            <td>{{ package.package.year_duration }}&nbsp;Année(s)</td>
            <td>{{ package.date_souscription|date:'Y-m-d H:i' }}</td>
            <td>
                {% if package.package.licence %}
                <span>Actif</span>
                {% else %}
                <span>Inactif</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block personal_js %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    function preloader() {
        if($('.preloader').length) {
            $('.preloader').delay(100).fadeOut(500, function() {

                if ($(".hero-s1").length) {
                    $(".hero-s1 .hero-phone").addClass("hero-phone-animation");
                }
                if ($(".hero-watch").length) {
                    $(".hero-watch").addClass("hero-watch-animation");
                }

            });
        }
    };
    preloader();

    $('#souscript').dataTable();
</script>
{% endblock %}